 /* Roca Font */
 @import url("https://use.typekit.net/cjk1gbt.css");

@font-face{
font-family:"Archivo";
src:url("/assets/fonts/Archivo.woff") format("woff");
font-weight:normal;
font-style:normal;
}

@font-face{
    font-family:"Adlinnaka";
    src:url("/assets/fonts/Adlinnaka-BoldDemo.woff") format("woff");
    font-weight:normal;
    font-style:normal;
    }