/* General Styles */
body {
    font-family: 'nagel-variable', sans-serif;
    background-color: #b8c4ff;
    color: #232635;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

h1, h2 {
    color: #232635;
    font-weight: 800;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    justify-content: center;
}

/* Hero Section Styles */
header {
    text-align: center;
    padding: 40px;
    background: linear-gradient(110deg, #b8c4ff 0%, #b8c4ff 100%);
    margin-bottom: 20px;
}

header p {
    font-size: 1em;
    color: #666;
}

/* Section Styles */
section {
    background: #232635;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
    box-shadow: 0 5px 10px rgba(3, 3, 3, 0.5);
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateY(-10px);
}

section h2 {
    color: #FE5F55;
}

section p {
    color: #BDD5EA;
}
a {
    color: #0129f1; 
}
/* Image Grid */
.image-container {
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    padding: 30px;
    justify-content: center;
    display: grid;
    place-items: center;
}



/* Image Hover Effect */
.image-container:hover img {
    transform: scale(1.15); /* Slight zoom on hover */
}

